body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.botones {
    display: flex;
    justify-content:space-between;
}

h1 {
    color: #333;
    margin-bottom: 5px;
}

.reinicios {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 10px;
}

.input{
    width: 64px;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #d90e7ab4;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #d90e7a34;
}

.btn-reset {
    background-color: #07d6ff;
    padding: 8px;
    color: #333;
    width: 70px;
}

.btn-reset:hover {
    background-color: #07d6ff5b;
}

.btn-clear {
    display: block;
    margin-top: 15px;
    color: #dc3545;
    text-decoration: none;
    font-size: 13px;
}

.btn-clear:hover {
    color: black;
}